@import "~/assets/css/base.css";

/* -------------------- */
/* Breakpoints          */
/* -------------------- */

/* @media query breakpoints (min-widths) */

/* 45rem = 720px -- mobile -> tablet */
/* 60rem = 960px -- tablet -> desktop */

/* @container query breakpoints (min-widths) */

/* 25rem = 400px -- mobile -> tablet */
/* 37.25rem = 596px -- tablet -> desktop */

/* -------------------- */
/* Semantic properties  */
/* -------------------- */

:root {
  /* colors */

  /* colors -- backgrounds */
  --color-background-body: hsl(var(--color-grey-50));
  --color-background-form: hsl(var(--color-white));
  --color-background-button: hsl(var(--color-purple-600));
  --color-background-button-active: hsl(var(--color-purple-300));

  /* colors -- text */
  --color-text-primary: hsl(var(--color-grey-500));
  --color-text-headings: hsl(var(--color-grey-900));
  --color-text-accent: hsl(var(--color-purple-600));
  --color-text-button: hsl(var(--color-white));
  --color-text-link: hsl(var(--color-purple-600));
  --color-text-link-active: hsl(var(--color-purple-300));

  /* colors -- input */
  --color-input-border: hsl(var(--color-grey-200));
  --color-input-error: hsl(var(--color-red-500));
  --color-input-active: hsl(var(--color-purple-600));

  /* shadows */
  --shadow-input-field: var(--shadow-purple-600);
  --shadow-preview: var(--shadow-black-400);
  --shadow-toast-notification: var(--shadow-black-400);

  /* sizing/spacing */

  /* borders/outlines */
  --outline-width: 2px;
  --border-width: 1px;

  /* layout containers */
  --default-inline-size-max: 29.75rem; /* 476px */
  --editor-inline-size-max: 90rem; /* 1440px */
  --preview-inline-size-max: 90rem; /* 1440px */

  --editor-inline-size-editor-column: 50.5rem; /* 808px */
  --editor-inline-size-preview-column: 35rem; /* 560px */
  --editor-nav-bar-block-size-inner: 3.25rem; /* 52px */
  --editor-nav-bar-inline-size-items: 3.25rem; /* 52px */

  --preview-block-size-header-row: 8.5rem; /* 136px */
  --preview-block-size-header-overlap: 13.8125rem; /* 221px */

  /* links */
  --link-block-size: 2.75rem; /* 44px */
  --link-inline-size: 14.8125rem; /* 237px */
  --link-block-position: 17.4375rem; /* 279px */

  /* icons */
  --icon-size-lg: var(--space-500);
  --icon-size-md: var(--space-250);
  --icon-size-sm: var(--space-200);

  /* inputs */
  --input-size-label-inline-max: 15rem; /* 240px */
  --input-size-image-upload-sm: 9.375rem; /* 150px */
  --input-size-image-upload-lg: 12.0625rem; /* 193px */
}

/* viewport: mobile -> tablet */
/* @media (min-width: 45rem) {
  :root {
  }
} */

/* viewport: tablet -> desktop */
/* @media (min-width: 60rem) {
  :root {
  }
} */

/* -------------------- */
/* Typography           */
/* -------------------- */

.text-preset1 {
  font-size: var(--fs-800);
  font-weight: var(--fw-bold);
}

.text-preset2 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
}

.text-preset3-bold {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.text-preset3-semibold {
  font-size: var(--fs-400);
  font-weight: var(--fw-semibold);
}

.text-preset3-regular {
  font-size: var(--fs-400);
}

.text-preset4 {
  font-size: var(--fs-200);
}

/* -------------------- */
/* Global Text          */
/* -------------------- */

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-text-headings);
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

a:hover,
a:focus-visible {
  outline: none;
  border-bottom: 1px dashed var(--color-text-link-active);
  color: var(--color-text-link-active);
}

/* -------------------- */
/* Components           */
/* -------------------- */

/* Button */

.btn {
  display: inline-block;
  inline-size: 100%;
  border-radius: var(--br-400);
  background-color: var(--color-background-button);
  color: var(--color-text-button);
  padding: var(--space-200) var(--space-300);
  font-weight: var(--fw-semibold);
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-background-button-active);
}

.btn:focus-visible {
  outline-offset: var(--outline-width);
  outline: var(--outline-width) dashed var(--color-background-button-active);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: hsl(var(--color-purple-600) / 0.25);
}

.btn.btn-secondary {
  border: var(--border-width) solid hsl(var(--color-purple-600));
  background-color: transparent;
  color: hsl(var(--color-purple-600));
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus-visible {
  background-color: hsl(var(--color-grey-100));
}

.btn.btn-secondary:focus-visible {
  outline-offset: var(--outline-width);
  outline: var(--outline-width) dashed hsl(var(--color-purple-600));
}

/* -------------------- */
/* Body / App           */
/* -------------------- */

body {
  color: var(--color-text-primary);
  background-color: var(--color-background-body);

  font-family: var(--ff-base);
  font-weight: var(--fw-regular);
  line-height: var(--lh-400);
  letter-spacing: var(--ls-400);

  margin: 0;
  padding: 0;
}
