@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* font families */
  --font-sans: "Instrument Sans", system-ui, sans-serif;
}

@theme static {
  /* color palette */
  --color-white: hsl(0 100% 100%); /* hex FFFFFF / rgb 255 255 255 */
  --color-black: hsl(0 0% 0%); /* hex 000000 / rgb 0 0 0 */

  --color-grey-950: hsl(0 0% 10%); /* hex 1A1A1A / rgb 26, 26, 26 */
  --color-grey-900: hsl(0 0% 20%); /* hex 333333 / rgb 51, 51, 51 */
  --color-grey-500: hsl(0 0% 45%); /* hex 737373 / rgb 115, 115, 115 */
  --color-grey-200: hsl(0 0% 85%); /* hex D9D9D9 / rgb 217, 217, 217 */
  --color-grey-100: hsl(0 0% 93%); /* hex EEEEEE / rgb 238, 238, 238 */
  --color-grey-50: hsl(0 0% 98%); /* hex FAFAFA / rgb 250, 250, 250 */

  --color-blue-800: hsl(227 97% 42%); /* hex 0330D1 / rgb 3, 48, 209 */
  --color-blue-500: hsl(223 100% 59%); /* hex 2D68FF / rgb 45, 105, 255 */

  --color-purple-950: hsl(252 50% 27%); /* hex 302267 / rgb 48, 34, 103 */
  --color-purple-500: hsl(
    252 100% 62%
  ); /* hex 633CFF / rgb 99, 60, 255 ; labeled as 600 in Figma but re-labeled as 500 here to properly override Tailwind's purple as the theme primary color */
  --color-purple-300: hsl(252 100% 84%); /* hex BEADFF / rgb 199, 173, 255 */

  --color-red-550: hsl(0 84% 58%); /* hex EE3939 / rgb 238, 57, 57 */
  --color-red-500: hsl(0 100% 61%); /* hex FF3939 / rgb 255, 57, 57 */

  --color-pink-900: hsl(331 68% 32%); /* hex 8A1A50 / rgb 138, 26, 80 */
  --color-pink-400: hsl(13 83% 75%); /* hex F4A28C / rgb 244, 162, 140 */

  --color-orange-600: hsl(29 100% 46%); /* hex EC7100 / rgb 236, 113, 0 */
  --color-orange-500: hsl(11 83% 53%); /* hex EB4925 / rgb 235, 73, 37 */

  /* shadows & gradients */
  --shadow-black-400: 0px 0px 32px hsl(from var(--color-black) h s l / 0.1);
  --shadow-purple-600: 0px 0px 32px hsl(from var(--color-purple-500) h s l / 0.25);
}

:root {
  /* sizing */
  --ui-header-height: --spacing(21);

  /* colors */
  /*
  --ui-primary: var(--color-purple-600);
  --ui-error: var(--color-red-500);
  */

  /*
  --ui-primary: var(--ui-color-primary-500);
  --ui-secondary: var(--ui-color-secondary-500);
  --ui-success: var(--ui-color-success-500);
  --ui-info: var(--ui-color-info-500);
  --ui-warning: var(--ui-color-warning-500);
  --ui-error: var(--ui-color-error-500);
  */

  /* text */
  --ui-text: var(--color-grey-500);
  --ui-text-highlighted: var(--color-grey-900);

  --ui-text-dimmed: var(--ui-color-neutral-900);
  --ui-border-accented: var(--ui-color-neutral-200);

  /* background */
  /* --ui-bg:  var(--color-grey-50); */
}

/* Tailwind CSS breakpoints - https://tailwindcss.com/docs/responsive-design */

/* sm: 40rem (640px) */
@media (width >= 40rem) {
  :root {
    /* sizing */
    --ui-header-height: --spacing(34);
    --ui-container: 90rem; /* 1440px */
  }
}
